html {
  font-family: Dosis, sans-serif;
  box-sizing: border-box;
  background-color: #f0eee8;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
